.category {
    flex-wrap: wrap;
    margin-top: 80px !important;
  }
  .category .card {
    background-color: rgba(173, 131, 131, 0.335);
    width: 20rem;
  }
  .category .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .category .card-price {
    background-color: rgb(31, 31, 107);
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .category button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .category .card-text {
    color: rgb(87, 79, 79);
  }
  .category .card img:hover {
    transform: scale(0.9);
    transform-origin: 15px;

  }
  .category .card-img-top {
    height: 300px !important;
  }